<h1>Messages</h1>

<div class="messages">
  <% @messages.each do |message| %>
    <div class="messages-content">
      <div class="message message-personal">
        <%= link_to message.title, message %>
      </div>
    </div>
  <% end %>
</div>
