

<section class="messages" id="comments" data-channel="comments" data-message-id="<%= message.id %>">
  <div class="messages-content">
    <%= render message.comments.order(created_at: :asc) %>
  </div>
</section>

<%= render 'comments/new', message: message %>
