
  <article class="message <%= comment.user_id == cookies[:user] ? 'message-personal' : 'new' %>" data-user-id="<%= comment.user_id %>">
    <% if comment.user_id != cookies[:user]%>
      <figure class="avatar">
        <img src="https://pbs.twimg.com/profile_images/844991394863370240/IGtrYdp-_400x400.jpg" />
      </figure>
    <% end %>
    <p><%= comment.content %></p>
  </article>
