<center>

  <table>
      <thead>
          <tr>
              <th>IP</th>
              <th>TELÉFONO</th>
              <th>CORREO</th>
              <th>INTERESES</th>
          </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>

          <tr>
              <td><%= user.ip %></td>
              <td><%= user.phone %></td>
              <td><%= user.email %></td>
              <td>
                <center>
                  <ul>
                    <% user.leads.each do |lead| %>
                      <li><%= lead.subject %></li>
                    <% end %>
                  </ul>
                </center>
              </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</center>