<ul>

  <% @users.each do |user| %>
    <li> <%= user.ip %> </li>
    <li> <%= user.phone %> </li>
    <li> <%= user.email %> </li>

    <li>
      <ul>
        <% user.leads do |lead| %>
          <li><%= lead.subject %></li>
        <% end %>
      </ul>
    </li>
  <% end %>

</ul>